.hidden {
    display: none;
}

.form-control {
    border-color: #cfdadd;
    border-radius: 2px;
    padding: 6px 8px;
}

    .form-control, .form-control:focus {
        box-shadow: none;
    }

        .form-control:focus {
            border-color: #6081d8;
        }

.pano-view-page a {
    outline: 0;
}

    .pano-view-page a:active, .pano-view-page a:focus {
        text-decoration: none;
    }

    .pano-view-page a:hover {
        text-decoration: none;
        opacity: .8;
    }

.pano-page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    .pano-page .pano {
        width: 100%;
        height: 100%;
        background-color: #000;
    }

.pano-ui {
    display: none;
    z-index: 999999;
}

.pano-modal {
    z-index: 999999999;
    visibility: visible;
    left: 50%;
    margin-left: -500px;
    max-width: 1000px;
    position: absolute;
    top: 20px;
    width: 90%;
    border: 1;
}

.pano-modal-bg {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999;
    opacity: .6;
}

.pano-modal .modal-title {
    margin: 0;
    background: #fff;
    color: #666;
    height: 36px;
    line-height: 36px;
    text-align: left;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.modal-title h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    text-indent: 12px;
}

.pano-modal .modal-close {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 36px;
    text-align: center;
    top: 0;
    right: 0;
}

    .pano-modal .modal-close span {
        font-size: 28px;
        color: #888;
    }

    .pano-modal .modal-close:hover {
        opacity: .8;
    }

.pano-modal-small {
    margin-left: -200px;
    max-width: 400px;
}

.pano-modal-content {
    background: #fff;
    box-shadow: 0 1px 5px 2px #444;
    border-radius: 5px;
    overflow: hidden;
}

    .pano-modal-content .msg {
        margin: 13px 0 8px;
        padding: 13px 25px 30px;
        font-size: 14px;
        border-bottom: 1px solid #eee;
        color: #666;
        line-height: 1.6em;
        text-align: center;
    }

    .pano-modal-content .insure-btn-con {
        text-align: center;
        padding: 4px 0;
    }

        .pano-modal-content .insure-btn-con span {
            display: inline-block;
            margin: 0 16px;
            padding: 6px 15px;
            padding: 6px 15px;
            cursor: pointer;
            width: auto;
            height: auto;
        }

            .pano-modal-content .insure-btn-con span:hover {
                opacity: .7;
            }

    .pano-modal-content .sure-btn {
        color: #fff;
        background-color: #4b8df8;
        border: 1px solid #4b8df8;
        background-image: none;
        position: inherit;
    }

    .pano-modal-content .cancel-btn {
        border: 1px solid #ddd;
        background-color: #fff;
    }

    .pano-modal-content .conts {
        font-size: 14px;
        line-height: 1.6em;
        padding: 20px;
        max-height: 500px;
        word-wrap: break-word;
        overflow-x: scroll;
    }

        .pano-modal-content .conts p {
            margin-bottom: 10px;
        }

        .pano-modal-content .conts img {
            display: inline-block;
            max-width: 100%;
        }

    .pano-modal-content .iframe {
        position: relative;
        z-index: 1;
        overflow: auto;
        max-width: 100%;
        background: url(../images/loading.gif) center center no-repeat;
    }

    .pano-modal-content .iframe-rotate {
        margin: 0 20px;
    }

    .pano-modal-content iframe {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 100%;
    }

    .pano-modal-content .button {
        color: #fff;
        background: #439ffa;
        border-radius: 3px;
        padding: 4px 0;
        font-size: 15px;
        display: block;
        padding: 4px 0;
        text-align: center;
        letter-spacing: 2px;
        margin-top: 2em;
    }

        .pano-modal-content .button:hover {
            opacity: .7;
        }

.pano-modal-full {
    width: 98%;
    max-width: 98%;
    left: 1%;
    margin: 0;
    top: 2%;
}

@media only screen and (max-width:900px) {
    .pano-modal {
        width: 96%;
        left: 2%;
        margin: 0;
        top: 2%;
    }

    .pano-modal-small {
        width: 84%;
        left: 8%;
        max-width: 700px;
    }

    .pano-modal-content .iframe-rotate {
        margin: 0 5px;
    }

    .pano-modal-content iframe {
        height: 99.5%;
    }
}
/* menu */
.menu{display:flex;position:absolute;bottom:0;left:0;width:100%; background: #fcfcfc;z-index:4000;flex-direction: row;}
.menu:after{content:'';position:absolute;top:0;left:0;width:100%}

.menu-item:after {content: '';position: absolute; right: 0;border-right: 1px solid #f9eeee; height: 100%;}
.menu-item:last-child:after {border-right: none;}
.menu .menu-text{position:relative;color:#777}
.menu .icon-box{position:absolute;top:50%;left:-14px;margin-top:-7px;width:8px;height:8px;padding:2px}
.menu .icon-box>span{display:block;width:100%;height:1px;margin-top:2px;background:#ccc}
.menu .menu-item{flex:1;position:relative;text-align:center;line-height:40px;height:40px;font-size:12px;color:#666;cursor:pointer;padding: 0 10px 0 15px;text-overflow: ellipsis;white-space: nowrap;float: left;box-sizing: border-box;}
.menu .sub-menu{position:absolute;bottom:27px;left:0;width:100%;background:#fff;display:none}
.menu .sub-menu .sub-menu-item{width:100%;height:40px;line-height:40px;color:#999;cursor: pointer;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.menu .sub-menu-item a{display:block}
.menu .active .sub-menu{display:block}
.masthead{display:block;position:fixed;top:0;width:100%;height:30px;border-color:rgba(229,229,229,0);background:rgba(255,255,255,0);z-index:3003;transition-duration: .2s;transition: all .6s ease;}
.masthead .container{position:relative;width:100%}
.masthead h1{font-size:40px;top:0;left:40px;position:absolute;line-height:36px;margin:20px 0;text-transform:lowercase}
.masthead h1 a{width:127px;height:30px;display:block;color:#fff;font-weight:400}
.masthead .nav-user{top:0;right:40px;position:absolute}
.masthead .nav-user ul{float:left;margin:20px 0;list-style-type:none}
.masthead .nav-user ul>li{display:inline-block;margin:0 0 0 20px;font-size:12px;line-height:34px;position: relative;}
.masthead .nav-user ul>li>a{color: #f9f9f9;font-size: 14px;margin-right: 5px;text-shadow: 2px 2px 2px #000000;cursor:pointer;}
.masthead.no-full{transform: translateX(-260px)}

.child-list{position:absolute;top:40px;background:#fff}
.child-nav{display:none;position:absolute;min-width:60px;padding:0 15px;background:rgba(255,255,255,1);box-shadow:0 0 6px 1px #ddd}
.child-nav:before{content:'';position:absolute;left:6px;top:-15px;border:8px solid #fff;border-color:transparent transparent #fff transparent}
.child-nav>li{display:block;line-height:30px;text-align:left;cursor: pointer;}
.child-nav>li:hover a{color:#f90}
.child-nav>li a{font-size:14px;color:#666}
.trangle-down {position: absolute;top: 46%;border: 6px solid #fff;border-color: #fff transparent transparent transparent;
}