body,html{width:100%;height:100%;overflow:hidden}
.fl{float:left}
.fr{float:right}
.clearfix{clear:both}
.clearfix:before{content:'';display:table;height:1px;clear:both}
.voice-map{position:absolute;width:100%;height:100%;left:0;top:0;transform:translate3d(0,100%,0);transition:transform .6s;z-index: 5000;}
.voice-map .close{position:absolute;top:10px;right:10px;width:30px;height:30px;color:#fff;text-align:center;font-size:24px;text-decoration:none}
.voice-map .container{position:absolute;width:100%;height:100%;left:0;top:10%;padding:50px 20px 30px;background:#282e33;border-radius:6px;box-sizing:border-box;z-index:2;font-family:"微软雅黑"}
.field{position:relative;display:flex;line-height:40px;margin-bottom:20px;color:#9aa09d}
.field .label{width:20%;flex:0 0 20%;height:40px;box-sizing:border-box;background:#363b41;border-right:2px solid #434b53;border-radius:6px 0 0 6px;text-align:center}
.field .text{position:relative;flex:1;height:100%;margin-bottom:20px;border-radius:0 6px 6px 0;color:#9aa09d;cursor:pointer}
.field .search-btn{width:100%;line-height:40px;font-size:16px;color:#f0f0f0;background:#3498db;border-radius:6px;cursor:pointer;text-align:center}
.voice-map.show{transform:translate3d(0,0,0)}
.navigation-map{position:absolute;right:6px;top:104px;width:40px;height:40px;background:#999;color:#f9f9f9;text-align:center;background:url(nav.png) no-repeat;background-size:100%;cursor:pointer}
.search-result .voice-box{position:relative;margin-bottom:20px;line-height:40px}
.search-result .voice-box .voice-text{margin-bottom:20px;width:100%;color:#ff9800;font-size: 14px;}
.search-result .voice-box .voice-btn{position:absolute;right:0;top:0;font-size:14px;text-align:center;color:#fff;cursor:pointer}
.search-result .voice-box .voice-btn span{display:inline-block;padding:0 10px;margin-left:10px;border-radius:4px;line-height:30px;background:#ff9800}
.search-result .img-box img{width:100%;height:100%}
.searchable-select-hide{display:none}
.searchable-select{font-size:14px;line-height:1.428571429;color:#9aa09d;vertical-align:middle;outline:0;position:absolute;top:0;width:100%;padding-left:10px;background:#3b4148;box-sizing:border-box;border-radius:0 6px 6px 0}
.searchable-select-holder{line-height:40px;width:100%;background:#3b4148;color:#9aa09d;z-index:9;box-sizing:border-box;border-radius:0 6px 6px 0}
.searchable-select-caret{position:absolute;width:0;height:0;box-sizing:border-box;border-color:#000 transparent transparent transparent;top:0;bottom:0;border-style:solid;border-width:5px;margin:auto;right:10px}
.searchable-select-dropdown{position:absolute;border-top:none;top:42px;left:0;right:0;background:#3b4148;z-index:9}
.searchable-select-input{border:none;outline:0;width:100%;box-sizing:border-box;width:100%;line-height:40px;text-indent:10px;background:#ffffff;border:1px solid #434b53;color:#ff9800;font-size:14px}
.searchable-scroll{position:relative}
.searchable-scroll.has-privious{padding-top:16px}
.searchable-scroll.has-next{padding-bottom:16px}
.searchable-has-privious{top:0}
.searchable-has-next{bottom:0}
.searchable-has-next,.searchable-has-privious{height:16px;left:0;right:0;position:absolute;text-align:center;z-index:10;background-color:#363b41;line-height:8px;cursor:pointer}
.searchable-select-items{max-height:400px;overflow-y:scroll;position:relative}
.searchable-select-items::-webkit-scrollbar{display:none}
.searchable-select-item{padding:5px 10px;cursor:pointer;line-height:40px;box-sizing:border-box;transition:all 1s ease 0s;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.searchable-select-item.hover{background:#363b41;color:#fff}
.searchable-select-item.selected{background:#3498db;color:#fff}
.search-result .img-box{position:relative}
.search-result .img-box img{width:100%}
.search-artresult .point{position:absolute;left:0;top:0;width:20px;height:20px;border-radius:50%;background:#ff5722}
.search-artresult .point:before{content:'';position:absolute;border:8px solid #fff;border-color:#ff5722 transparent transparent transparent;left:2px;bottom:-12px}

     .art-map .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        color: #fff;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
    }

    .art-map .container {
        position: absolute;
        width: 100%;
        height: 85%;
        left: 0;
        top: 15%;
        padding: 60px 20px 30px;
        background: #282e33;
        border-radius: 6px;
        box-sizing: border-box;
        transform: translate3d(0, 100%, 0);
        transition: transform .6s;
        z-index: 2;
        font-family: "微软雅黑";
       z-index: 10000;

    }

    .art-map.show .container {
        transform: translate3d(0, 0, 0);
    }