  .fl{float:left}
  .fr{float:right}
  .clearfix{clear:both}
  .clearfix:before{content:'';display:table;height:1px;clear:both}
  .voice-map{width:100%;height:100%;position:fixed;left:0;top:0;display:none;z-index: 100000;}
  .voice-map .mask{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:1}
  .voice-map .close,.voice-map .open{position:absolute;width:30px;height:30px;top:10px;right:10px;font-size:24px;color:#fff;text-align:center;text-decoration:none}
  .voice-map .container{position:absolute;min-width:600px;height:auto;left:50%;top:50%;transform:translate(-50%,-50%);padding:60px 20px 30px;background:#282e33;border-radius:6px;z-index:2;font-family:"微软雅黑"}
  .field{position:relative;display:flex;line-height:60px;margin-bottom:20px;color:#9aa09d}
  .field .label{width:12%;flex:0 0 12%;height:60px;box-sizing:border-box;background:#363b41;border-right:2px solid #434b53;border-radius:6px 0 0 6px;text-align:center}
  .field .text{position:relative;flex:1;width:88%;height:100%;margin-bottom:20px;border-radius:0 6px 6px 0;color:#9aa09d;cursor:pointer}
  .field .search-btn{width:100%;line-height:60px;font-size:16px;color:#f0f0f0;background:#3498db;border-radius:6px;cursor:pointer;text-align:center}
  .searchable-select-hide{display:none}
  .searchable-select{font-size:14px;line-height:1.428571429;color:#9aa09d;vertical-align:middle;outline:0;position:absolute;top:0;width:100%;padding-left:10px;background:#3b4148;box-sizing:border-box;border-radius:0 6px 6px 0}
  .searchable-select-holder{line-height:60px;width:100%;background:#3b4148;color:#9aa09d;z-index:9;box-sizing:border-box;border-radius:0 6px 6px 0}
  .searchable-select-caret{position:absolute;width:0;height:0;box-sizing:border-box;border-color:#000 transparent transparent transparent;top:0;bottom:0;border-style:solid;border-width:5px;margin:auto;right:10px}
  .searchable-select-dropdown{position:absolute;border-top:none;top:62px;left:0;right:0;background:#3b4148;z-index:9}
  .searchable-select-input{border:none;outline:0;width:100%;box-sizing:border-box;width:100%;line-height:50px;text-indent:10px;background:#ffffff;border:1px solid #434b53;color:#ff9800;font-size:14px}
  .searchable-scroll{position:relative}
  .searchable-scroll.has-privious{padding-top:16px}
  .searchable-scroll.has-next{padding-bottom:16px}
  .searchable-has-privious{top:0}
  .searchable-has-next{bottom:0}
  .searchable-has-next,.searchable-has-privious{height:16px;left:0;right:0;position:absolute;text-align:center;z-index:10;background-color:#363b41;line-height:8px;cursor:pointer}
  .searchable-select-items{max-height:400px;overflow-y:scroll;position:relative}
  .searchable-select-items::-webkit-scrollbar{display:none}
  .searchable-select-item{padding:5px 10px;cursor:pointer;line-height:40px;box-sizing:border-box;transition:all 1s ease 0s;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
  .searchable-select-item.hover{background:#363b41;color:#fff}
  .searchable-select-item.selected{background:#3498db;color:#fff}
  .navigation-map{position:absolute;right:10px;top:100px;width:50px;height:50px;background:#999;color:#f9f9f9;text-align:center;background:url(nav.png) no-repeat;background-size:100%;cursor:pointer}
  .search-result{display:none}
  .search-result .voice-box{position:relative;margin-bottom:20px;line-height:40px}
  .search-result .voice-box .voice-text{margin-bottom:20px;width:100%;color:#ff9800}
  .search-result .voice-box .voice-btn{position:absolute;right:0;top:0;text-align:center;color:#fff;cursor:pointer}
  .search-result .voice-box .voice-btn span{display:inline-block;height:40px;padding:0 10px;background:#ff9800;border-radius:4px;margin-left:10px; text-align: center;}
  .search-result .img-box{position:relative;text-align: center;}
  .search-result .img-box img{max-height:400px}
  .search-artresult .point{position:absolute;left:0;top:0;width:20px;height:20px;border-radius:50%;background:#ff5722}
  .search-artresult .point:before{content:'';position:absolute;border:8px solid #fff;border-color:#ff5722 transparent transparent transparent;left:2px;bottom:-12px}
    


        .art-map {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 100%;
        top: 100%;
        display: none;
        z-index: 10000;
    }

    .art-map .mask {
        position: absolute;
        top: -100%;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        z-index: 1;
    }

    .art-map .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        color: #fff;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
    }

    .art-map .container {
        position: absolute;
        min-width: 600px;
        max-width: 800px;
        height: auto;
        left: -50%;
        top: -50%;
        transform: translate(-50%, -50%);
        padding: 60px 20px 30px;
        background: #282e33;
        border-radius: 6px;
        z-index: 2;
        font-family: "微软雅黑";
        text-align: center;
    }