.pano-ui{position: fixed;}
.qrcode-wrap{width: 90px;height: 90px;left: 10px;top:50px;z-index: 999999;}
.scroll-text-wrap{height: 18px;width: 100%;top:0;left: 0;color: #fff;background: url(../images/bg-black-30.png) repeat;font-size: 11px;line-height: 18px;}
.logo-wrap{left: 4px;top:22px;}
.logo-wrap #pano-hits{font-size: 12px;color: #fff;opacity: .7;float: left;}
.logo-wrap .logo{float: left;clear: both;}
.logo-wrap a{font-size: 12px;color: #fff;margin-bottom: 4px;display: inline-block;float: left;text-decoration: none;opacity: .7;margin-right: 12px;}
.logo-top-wrap{top:4px;}



/*微信相关*/
input[type=text]{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0}
::-webkit-input-placeholder{color:#888}
:-moz-placeholder{color:#888;opacity:1}
::-moz-placeholder{color:#888;opacity:1}
:-ms-input-placeholder{color:#888}
.button{display:block;margin-left:auto;margin-right:auto}
.button,.follow-button{display:inline-block;width:100%;height:25px;line-height:25px;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:12px}
.wx-wrap{position:fixed;z-index:1004000;bottom:0;left:0;width:100%;height:140px;background-color:#fff;display: none;}
.wx-wrap a{text-decoration:none}
.wx-wrap .cont{padding: 10px;height:90px;}
.wx-wrap input[type=text]{background-color:#F7F7F7;border:1px solid #eee;width:100%;height:30px;text-indent: 2px;}
.wx-wrap .button,.wx-wrap .follow-button{position:absolute;bottom:10px;height:30px;line-height:30px}
.wx-wrap .submit-btn{right:60px;width:80px;background-color:#4b8df8;color:#fff;border:1px solid #4b8df8 ;}
.wx-wrap .submit-btn.disable{color:#aaa;border:1px solid #aaa;background-color:transparent}
.wx-wrap .cancel-btn{right:10px;width:50px;background-color:#fff;color:#4b8df8;border:1px solid #4b8df8;}

.wx-wrap .comment-type{height: 30px;overflow: hidden;margin:2px 0 10px;border:1px solid #4b8df8 ;border-radius: 2px;}
.wx-wrap .comment-type span{display: inline-block;width: 50%;height: 30px;line-height: 30px;font-size: 14px;float: left;text-align:center;}
.wx-wrap em{font-style: normal;}
.wx-wrap .comment-type a{color:#333;height: 30px;line-height:30px;display: inline-block;width: 100%}
.wx-wrap .comment-type a.current{background: #4b8df8;color: #fff;}
.wx-wrap .hide-type .voice{text-align: center;}
.wx-wrap .hide-type .voice span{display: inline-block;height: 50px;width: 50px;margin:6px 40px 0;}
.wx-wrap .hide-type .voice span i{color: #2CB044;font-size: 50px;}
.wx-wrap .hide-type .voice .stop i{color: #D8222D;}
.wx-wrap .hide-type .voice span a{font-size: 12px;color: #888;display: block;text-align: center;}
.wx-wrap .hide-type .voice span a em{color: #2CB044; }
.wx-wrap .hide-type .voice .second {display: none;}
.wx-wrap .hide-type .voice .second b{font-weight: normal;color: #999;}
.wx-wrap .hide-type .voice .second h5{display: inline-block;font-size:18px;font-weight: normal;color: #2CB044;margin: 10px 0 0;}
.wx-wrap .hide-type .voice-current span{margin:6px 20px 0;}
.wx-wrap .hide-type .voice-current .second{display: inline-block;}